<h3>Post Form</h3>
<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>
                <%# form_for, when your field is directly connected to a model %>
                <%# form_tag, when you just need a form %>
                <%# @post is the argument for form_for. iterate field elements over |f| %>
  <label>Post Description</label><br>
                <%# <%= text_area_tag :description, @post.description %><br> %>
  <%= f.text_area :description %><br>
                <%#  submit_tag "Submit Post" %>
  <%= f.submit %>
<% end %>